body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('to-do.jpg'); 
    width: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
}

h1 {
    color: #333;
}

.todo-container {
    margin: 20px auto;
    max-width: 400px;
}
input[type="text"] {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.delete-button {
    background-color: #ff4136;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d21f1f;
}